# <span style="color:darkblue"> Lecture 3 Exercises </span>



## Short Questions

<font size = "5">

1. What is a codebook?
2. How you define a missing value in Python?
2. What is chaining?

In [ ]:
# Write your answers here as comments

# 1.The codebook is a table contains basics about the columns, like name of column, type of variable, description.

# 2.use np.nan to denote missing value

# 3.chaining means carrying out succesive operations on a dataset with single command

## Long Questions

<font size = "5">

Import the libraries "numpy" and "pandas"

In [1]:
# Write your own code

import numpy as np
import pandas as pd

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [4]:
# Write your own code


students = pd.read_csv("data_raw/students.csv")

bins_x = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]  
labels_x = ["F", "D", "C-", "C", "C+", "B-", "B", "B+", "A-", "A"]

students["lettergrade"]=pd.cut(students["numericgrade"],
                               bins=bins_x,
                               labels=labels_x,
                               right =True)

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data/raw_results.csv" to <br>
 a new object "results"

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "milliseconds" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 13 and 14 for how to interpret the codebook

In [20]:
# Write your own code

results =  pd.read_csv("data_raw/results.csv")

results.dtypes



# the type of the "milliseconds" column is object, but the codebook says it is an integer

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so, go to Lecture 13 and follow the setups under the headings
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"

HINT: substitute "milliseconds" instead of "alt", <br>
and the dataset "results" instead of "circuits"

In [ ]:
# Write your own code

results["milliseconds"].str.isnumeric()

subset = results.query("milliseconds.str.isnumeric() == False")
list_unique = pd.unique(subset["milliseconds"])
print(list_unique)

list_old = ['\\N']
list_new = [np.nan]
results["milliseconds"] = results["milliseconds"].replace(list_old, list_new)

['\\N']

In [23]:
results["milliseconds"] = pd.to_numeric(results["milliseconds"])
print(results["milliseconds"].dtype)

float64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

HINT: See Lecture 14 <br>

In [25]:
# Write your own code
print(results["laps"])
results_agg = (results.groupby("constructorId")
               .agg(mean_laps = ('laps','mean'),
                    sd_laps =   ('laps','std')))
results_agg = results_agg.sort_values(by="mean_laps", ascending=False)
results_agg

0        58
1        58
2        58
3        58
4        58
         ..
25835    57
25836    57
25837    55
25838    55
25839    27
Name: laps, Length: 25840, dtype: int64

                mean_laps    sd_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
163              0.000000        NaN
179              0.000000        NaN
177              0.000000   0.000000
153              0.000000        NaN
186              0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 200'
- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"

Hint: See Lecture 11 (to refresh ".query()") and <br>
Lecture 14 for how to combine it with ".groupby()"

In [29]:
# Write your own code

print(results["raceId"])
results_agg = (results.query("raceId >= 200")
                      .groupby(["constructorId"])
                        .agg(mean_laps = ('laps','mean'),
                         sd_laps =   ('laps','std')))

results_agg

0          18
1          18
2          18
3          18
4          18
         ...
25835    1096
25836    1096
25837    1096
25838    1096
25839    1096
Name: raceId, Length: 25840, dtype: int64

               mean_laps    sd_laps
constructorId
1              50.093510  23.147774
3              51.349621  21.064902
4              46.396450  22.565290
5              51.787879  18.281774
6              50.305798  25.953854
...                  ...        ...
209            52.282051  19.522147
210            51.434028  19.915741
211            54.684211  17.680279
213            52.393443  19.883361
214            54.204545  17.951505

[201 rows x 2 columns]


<font size = "5">

(f) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Replace the values "E" with 11 in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

In [32]:
# Write your own code

standings = pd.read_csv("data_raw/constructor_standings.csv")

standings["positionText"].str.isnumeric()
standings["positionText"]=standings["positionText"].replace("E","11")
standings["positionNumeric"]=pd.to_numeric(standings["positionText"])
print(standings["positionNumeric"].dtype)

int64

<font size = "5">

(g) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1970","1971-1990","1991-2005", "2006-2020", "2020-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [37]:
# Write your own code

races = pd.read_csv("data_raw/races.csv")

print(races["year"])

bins2 = [1950, 1970, 1990, 2005, 2020, 2023]
labels2 =["1950-1970", "1971-1990", "1991-2005", "2006-2020", "2020-onwards"]
races["year_brackets"] = pd.cut(races["year"], bins=bins2, labels=labels2, right=True)

print(races["year_brackets"])

0       2009
1       2009
2       2009
3       2009
4       2009
        ...
1097    2023
1098    2023
1099    2023
1100    2023
1101    2023
Name: year, Length: 1102, dtype: int64
0          2006-2020
1          2006-2020
2          2006-2020
3          2006-2020
4          2006-2020
            ...
1097    2020-onwards
1098    2020-onwards
1099    2020-onwards
1100    2020-onwards
1101    2020-onwards
Name: year_brackets, Length: 1102, dtype: category
Categories (5, object): ['1950-1970' < '1971-1990' < '1991-2005' < '2006-2020' < '2020-onwards']

<font size = "5">

(h) Aggregate and query

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Subset the observations for 'raceId == 10' using ```.query()```
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Subset the teams with a sum of points $\ge 50$
- Store the results of all these operations in a dataframe <br>
```constructor_standings_agg ```

In [39]:
# Write your own code

standings = pd.read_csv("data_raw/constructor_standings.csv")

subset2 = standings.query("raceId == 10")

points_agg = (subset2.groupby("constructorId")
               .agg(total_points = ('points','sum')))

constructor_standings_agg = points_agg.query("total_points >= 50")
print(constructor_standings_agg)

               total_points
constructorId
9                      98.5
23                    114.0

<font size = "5">

(i) Aggregate and sort

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the sum of points using ``` .sort_values() ```

In [42]:
# Write your own code


standings = pd.read_csv("data_raw/constructor_standings.csv")

constructor_points  = standings.groupby("constructorId").agg(total_points=('points', 'sum'))

constructor_points = constructor_points.sort_values(by="total_points", ascending=False)

print(constructor_points)

               total_points
constructorId
6                   90204.0
131                 71808.5
9                   64986.5
1                   57188.5
3                   32093.5
...                     ...
201                     0.0
198                     0.0
203                     0.0
199                     0.0
207                     0.0

[159 rows x 1 columns]

<font size = "5">

(j) Rename column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Rename the column "wins" to "wins_constructor"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>

In [43]:
# Write your own code


standings = pd.read_csv("data_raw/constructor_standings.csv")

standings = standings.rename(columns={"wins": "wins_constructor"})

<font size = "5">

(k) Merge dataset

<font size = "3">

- Import the "data_raw/constructor_standings.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"constructor_standings" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [44]:
# Write your own code

standings = pd.read_csv("data_raw/constructor_standings.csv")

constructors = pd.read_csv("data_raw/constructors.csv")

constructors_subset = constructors[["constructorId", "nationality"]]

merged= pd.merge(
    standings,
    constructors_subset,
    on="constructorId",   
    how="left"           
)

print(merged)

       constructorStandingsId  raceId  constructorId  points  position  \
0                           1      18              1    14.0         1
1                           2      18              2     8.0         3
2                           3      18              3     9.0         2
3                           4      18              4     5.0         4
4                           5      18              5     2.0         5
...                       ...     ...            ...     ...       ...
12936                   28408    1098            210     0.0         6
12937                   28409    1098              1     0.0         7
12938                   28410    1098            131     0.0         8
12939                   28411    1098              9     0.0         9
12940                   28412    1098              3     0.0        10

      positionText  wins nationality
0                1     1     British
1                3     0      German
2                2     0     British
3                4     0      French
4                5     0     Italian
...            ...   ...         ...
12936            6     0    American
12937            7     0     British
12938            8     0      German
12939            9     0    Austrian
12940           10     0     British

[12941 rows x 8 columns]